/*header*/

.header-container {
  height: 12vh;
  background-color: #7cbbc6;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: auto;
  top: 0;
  position: fixed;
  z-index: 5;
  flex-wrap: wrap;
}

/* .main-header-container {
  display: flex;
  width: 1560px;
  height: 5.2rem;
  padding-left: 150px;
  padding-right: 150px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
} */

.header-left {
  display: flex;
  width: 20%;
  align-items: center;
  justify-content: center;
  
}

.header-right {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40%;
  padding-right: 70px;
}

img {
  width: 70px;
  height: 70px;
}

h2 {
  font-family: 'Hammersmith One', sans-serif;
  font-size: 18px;
  letter-spacing: 2px;
  color: rgb(69, 50, 17);
  display: flex;
  align-items: center;
}

/* Search bar*/

.searchbar-container {
  padding: 1rem;
  width: 450px;
  height: 18px;
  display: flex;
  justify-content: center;
  overflow-y: hidden;
  border-radius: 1rem;
  background-color: white;
  border: 5px solid rgb(121, 109, 109);
}

input[type="search"] {
  background-clip: padding-box;
  background-color: white;
  vertical-align: middle;
  border: none;
  font-size: 1rem;
  width: 100%;
  line-height: 2;
  padding: 0.375rem;
  -webkit-transition: border-color 0.2s;
  -moz-transition: border-color 0.2s;
  transition: border-color 0.2s;
}

input[type="search"]:focus {
  outline: none;
}

form.search-form {
  display: flex;
  justify-content: center;
}

label {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  align-self: center;
  margin-bottom: 0;
}

input.search-field {
  margin-bottom: 0;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  align-self: center;
  height: 51px;
}

.buttom {
  height: 100vh;
  width: 100vw;
}