.bottom-cntainer{
    width: 90rem;
    margin:50px 80px;
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
    grid-gap: 3rem;
}

.searched-food{
    width: 1500px;
    height: 50vh;
    display: flex ;
    justify-content: center;
    margin-top: 60px;
}

